.course-card {
  min-width: 250px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.course-card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.course-thumbnail {
  height: 180px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.card-description {
  color: #888;
}
.chart {
  width:60%;
  height: 450px;
}
.Empty_Box{
  font-weight: bold;
  margin-top: 15%;
}