.Container{
 width: calc(100%)-300;
 height: calc(100%);
  padding: 40px 20px;
  position: fixed;
  top:0;
}
.Container>div
{
width: calc(100%)-300;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100%);

}
.Course-card img{
  border-radius: 8px;
}

.course-card{
    border-radius: 12px;

}
.course-thumbnail {
  height: 180px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.chart
{
  width: 800px;
   height: 600px;
   margin: 90px;
}