.Container{
  max-width: 1200px;
  padding: 40px 20px;
  position: fixed;
  top:0;
}
.Course-card img{
  width: 360px;
  border-radius: 8px;
}

.course-card{
    border-radius: 12px;

}
.course-thumbnail {
  height: 180px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.chart
{
  width: 800px;
   height: 600px;
   margin: 90px;
}