.Sider-title{
    font-weight: bold;
    font-size: 20px;
    padding: 16px;
    text-align: center;
    
}
.Lms-Content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 200px;
}
.Lms-Sider{
    position: fixed;
    top: 0;
    left: 0;
     height: calc(99.9%);   
}
